<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rescue Point</title>
    <link rel="icon" href="/assets/Rescue_Point_logo.png" alt="">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <a href="/"><img src="/assets/Rescue_Point_logo_NoBackground.png" alt="Rescue_Point_logo_NoBackground"></a>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/privacy">Privacy Policy</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><button class="admin-login-btn" onclick="window.location.href='/login'">Admin</button></li>
            </ul>
        </nav>
    </header>
